body {
  background: black;
  color: white;
}

#rythmBoxTable {
    width:100%;
    border: 1px solid white;
    color: white;
}

#rythmBoxTable td {
  border: 1px solid white;
}

#rythmBoxTable .name {
  padding-left: 1em;
  max-width: 2em;
}

#rythmBoxTable tr.selected {
  background-color: #79A17A;
  color: black;
}

#rythmBoxTable tr.selected td {
  border: 1px solid #555;
}

.instrument {
  height:6em;
}

.beat.active {
  background-color: yellow;
}

.beat.sound {
  background-color: white;
}
